.lessonContainer{
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    height:100vh;
    width:100vw;
    background-color:verylightgray;
    position:absolute;
    top:50px;
   
}
.lessonTitle{
    text-decoration: underline;
    text-transform: uppercase;
}
.navigationButtons{
    display:flex;
    width:80%;
    align-items:center;
    justify-content:space-evenly;
    position:absolute;
    bottom:90px;
}

.moveButton{
    width:120px;
    height: 50px;
    background-color:navy;
    color:white;

}

.moveLink:link { text-decoration: none; color:white}
.moveLink:visited { text-decoration: none; color:white}
.moveLink:hover { text-decoration: none; color:white}
.moveLink:active { text-decoration: none; color:white}


.syllabusLink:link { text-decoration: none; color:black}
.syllabusLink:visited { text-decoration: none; color:black}
.syllabusLink:hover { text-decoration: none; color:black}
.syllabusLink:active { text-decoration: none; color:black}
