
.LessonSyllabusCard{
    background-color:gray;
    width: 80%;
    height:auto;
	padding:30px;
    margin: 20px;
	-webkit-box-shadow: -1px 2px 9px 3px #000000; 
	box-shadow: -1px 2px 9px 3px #000000;
	border-radius:20px;
}
.lessonNumber{
    font-size:25px;
    padding-left:5px;
    padding-top:5px;
    padding-bottom: 10px;
    text-decoration: underline;
}
.lessonTopicsLink:link { text-decoration: none; color:black}
.lessonTopicsLink:visited { text-decoration: none; color:black}
.lessonTopicsLink:hover { text-decoration: none; color:black}
.lessonTopicsLink:active { text-decoration: none; color:black}
.lessonTopic{
    text-transform: capitalize; 
    background-color:green;
    padding:10px;
    color:black;
  
}

