/* BASE ELEMENTS */
body {
	margin: 0;
}
/*CLASSES*/
.navBarContainer {
	/*position: fixed;
	top: 0; */
	width: 100%;
	text-align: center;
	background: grey;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: flex-end;
}
.elementContainer {
	margin: 10px;
}
.footerContainer {
	text-align: center;
	position: fixed;
	padding-top: 10px;
	padding-bottom: 10px;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: grey;
	display: flex;
	justify-content: flex-end;
}
/* IDS */
