.mainAreaGrid {
	background-color: pink;
	height: 80vh;
	padding-top: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 010px;
	grid-row-gap: 10 px;
	align-items: center;
	text-align: center;
}
